<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security
                         http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	
	<http pattern="/resources/css/**" security="none"/>
	<http pattern="/resources/js/**" security="none"/>
	<http pattern="/resources/img/**" security="none"/>
	<http pattern="/resources/images/**" security="none"/>
	
	<global-method-security secured-annotations="enabled">
	</global-method-security>
	
	<beans:bean id="rememberMePostProcessor"
		class="com.fitdrift.util.jsfsecurity.RememberMePostProcessor">
	</beans:bean>

	<http auto-config="true">
		<intercept-url pattern="/public/**" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />
		
		<intercept-url pattern="/login*" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<intercept-url pattern="/favicon.ico" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" />
		<intercept-url pattern="/rfres/**" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" /> <!-- Rich Faces -->
		<intercept-url pattern="/javax.faces.resource/**" access="ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMIN" /> <!-- JSF -->
		
		<intercept-url pattern="/admin/**" access="ROLE_ADMIN" />
		
		<!-- Does this need to be here -->
		<!--  <intercept-url pattern="/faces/admin/**" access="ROLE_ADMIN" />-->
		
		<intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />

		<form-login login-processing-url="/j_spring_security_check"
			login-page="/login.xhtml" default-target-url="/faces/dashboard.xhtml" 
			authentication-failure-url="/login.xhtml?error=t"  always-use-default-target="true"/>
		<logout logout-url="/logout" logout-success-url="/" /> 
		
		<remember-me key="myAppKey"/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<!-- Your authentication provider here (example below) -->
			<!--  <user-service>
				<user name="admin" password="password" authorities="ROLE_USER,ROLE_ADMIN" />
				<user name="cs402@uwlax.edu" password="wildflowers" authorities="ROLE_USER" />
			</user-service>-->
			
			<jdbc-user-service data-source-ref="dataSource"
 
			   users-by-username-query="
			      select username,password, enabled 
			      from users where username=?" 
 
			   authorities-by-username-query="
			      select u.username, ur.authority from users u, user_roles ur 
			      where u.user_id = ur.user_id and u.username =?  " 
 			/>

		</authentication-provider>
	</authentication-manager>
</beans:beans>